<li class="animate" ng-class="{ 'letcher-flight' : node.content.indexOf('letch') > -1 }">
	<span class="col-exp">
		<span ng-show="node.children.collapsed" ng-click="expand(this)" class="expandable">
			<i class="fa fa-plus"></i>
		</span>
		<span ng-show="!node.children.collapsed" ng-click="collapse(this)" class="collapsible">
			<i class="fa fa-minus"></i>
		</span>
	</span>
	<span ng-click="clickNode(this)" class="bullet" ng-class="{ 
		'suite' : node.level === 'suite', 
		'case' : node.level === 'case',
		'letcher' : node.content.indexOf('letch') > -1,
		'step' : node.level === 'step',
		'open' : !node.children.collapsed,
		'openable' : node.children.collapsed && node.children.length > 0 }">
	</span>
	<content contenteditable="true" ng-model="node.content"></content>
</li>